<h1>{! 'Hello Elisa!'}</h1>
<table border="1">
	{ foreach(['Ahmet' => 'ATAY', 'Mehmet' => 'YILDIZ'] as $name => $surname) }
	<tr>
		<td>{! $name }</td>
		<td>{! $surname }</td>
	</tr>
	{ endforeach }
</table>

{ $hello = 'test' }
{! $hello }

{ @append(header) }
hello body gds df gdf gdf gdf

sdfsd fsdfsd fsd
{ @end }

{ @append(header) }
hello

elisa
{ @end }


{ @append(footer) }
{ @extend('test2.extend3') }
hello

footer

<script type="text/javascript">

			//alert('test 2');

			</script>
{ @end }

{ @extend('test2.extend') }